# GITIGNORE SYMBOL CHEAT SHEET
# ------------------------------------------------------------------------------
# * (Wildcard)    : Matches any string (e.g., *.pdf ignores all PDF files).
# /  (Separator)   : Defines a folder (e.g., logs/ ignores the entire directory).
# ** (Recursive)   : Matches any depth (e.g., **/tmp/ finds 'tmp' in any subfolder).
# .  (Literal)     : Usually marks hidden files or extensions (e.g., .vscode/).
# !  (Negation)    : "Un-ignores" a specific file (e.g., !data/keep_me.txt).
# ------------------------------------------------------------------------------

# --- Data and Models (Too large for Git) ---
data/
LIC_huggingface/
vitb16_debiased_model/
vitb32_debiased_model/
clip_debiasing/models/clipcap/clip_cap_coco_weight.pt
unified_debiasing/embedding/
lick-caption-bias/

# --- Virtual Environment (Avoid pushing libraries) ---
venv_mlp/
venv/
.venv/

# --- Training & Experiment Outputs ---
exp/
results_temp/
logs/
slurm-*.out
.submit_eval.sh.swp


# --- Python & System Junk ---
__pycache__/
*.pyc
.DS_Store
**/.DS_Store
.ipynb_checkpoints/
*.swp
*~
# --- Editor Specific ---
.vscode/
.idea/

# --- Research Papers & Documents ---
*.pdf
MLP_G061.pdf