data/COCO
data/facet
data/fairface
data/utkface
clip_debiasing/models/clipcap/clip_cap_coco_weight.pt
unified_debiasing/embedding
unified_debiasing/__pycache__
clip_debiasing/models/clipcap/__pycache__
*.pyc
data/.DS_Store
**/.DS_Store

exp/



MLP_G061.pdf
joint_debiasing/Joint Vision-Language Social Bias Removal for CLIP.pdf
unified_debiasing/NeurIPS-2024-a-unified-debiasing-approach-for-vision-language-models-across-modalities-and-tasks-Paper-Conference.pdf
lick-caption-bias/