data/COCO
data/facet
data/fairface
data/utkface
clip_debiasing/models/clipcap/clip_cap_coco_weight.pt
unified_debiasing/embedding
unified_debiasing/__pycache__
clip_debiasing/models/clipcap/__pycache__
*.pyc
data/.DS_Store
